<script>
    import { Bar } from 'vue-chartjs'

    export default {
        extends: Bar,
        props: ['chartdata', 'options'],
        mounted () {
            this.renderChart(this.chartdata, this.options)
        },
        watch: {
            chartdata: function (val) {
                this.renderChart(this.chartdata, this.options)
            },
            options: function (val) {
                this.renderChart(this.chartdata, this.options)
            }
        }
    }
</script>

<style>
</style>
