<template>
    <div>
        <p v-if="jsonData!=undefined">
            {{ jsonData }}
        </p>
        <p v-else>
            wait
        </p>
    </div>
</template>

<script>
    const axios = require('axios');
    import Vue from 'vue'
    import EventBus from '../eventbus';
    import {latLng} from "leaflet";
    import L from 'leaflet';
    import {LMap, LTileLayer, LMarker, LPopup, LTooltip, LCircleMarker} from "vue2-leaflet";
    import Vue2LeafletMarkerCluster from 'vue2-leaflet-markercluster'
    import {locationStore, countryStore, cityStore} from "../stores/geo";
    import {dataProfileStore} from "../stores/stores";
    import LineChart from './charts/LineChart'
    import BarChart from './charts/BarChart'

    export default {
        name: "GoogleFit",
        components: {
        },
        watch: {

        },
        computed: {

        },
        mounted() {
            let that = this
            axios.get("/userdata/googlefit",{})
                .then(function (response) {
                    that.jsonData = response.data
                    //if(response.data.google_fit_auth_url != undefined){

                    //}
                })
                .catch(function (error) {
                    console.log(error);
                })
        },
        data() {
            return {
                'jsonData': undefined
            };
        },
        methods: {

        }
    };
</script>
