<template>
    <div>
        <p><b>At the moment, the color does not say anything logic! Where the nr is 0, it's missing.</b></p>
        <div style="width: 100%">
            <div>
                <p>Center is at {{ currentCenter }} and the zoom is: {{ currentZoom }}</p>
                <h4>{{ pickedDate }}</h4>
                <div v-if="initialized" >
                    <div>
                        <p v-if="useCalendars">BarChart<input type="checkbox" v-model="barChart" /></p>
                        <p>Ignore calendar<input type="checkbox" v-model="useCalendars" /></p>
                        <p>country sum<input type="checkbox" v-model="countrySum" /></p>
                        <span data-app>
                        <v-select label="Dataprofile" v-model="dataProfileName" :items="dataProfileNames" item-value="value">
                        </v-select></span></div>
                        <div v-for="name in dataSetNames[dataProfileName]">
                        <input type="checkbox" v-model="dataSetEnabled[dataProfileName+name]" />{{ name }}
                            <v-btn :color="dataSetBtnColor[dataProfileName+name]" @click="updateSource(dataProfileName, name)" dark x-small>Update {{ dataSetBtnState[dataProfileName+name] }}</v-btn>
                        </div>
                </div>

            </div>

            <p v-if="initialized==false">...LOADING...</p>
            <v-row fluid no-gutters v-if="initialized">
                <v-col :cols="2">
                    <v-date-picker class="float-left" dark v-model="pickedDate"></v-date-picker>
                </v-col>
                <v-col :cols="10">
                    <l-map
                        :center="center"
                        :options="mapOptions"
                        :zoom="zoom"
                        @update:center="centerUpdate"
                        @update:zoom="zoomUpdate"
                        class="float-right"
                        fluid
                        ref="myMap"
                        style="height: 100%; width: 100%;"
                    >
                        <l-tile-layer
                            :attribution="attribution"
                            :url="url"
                        />
                        <l-circle-marker bubblingMouseEvents :id="'p'+latLong(point)" :radius="5" :color="getColorForPoint(point)" :lat-lng="latLong(point)" v-bind:key="i"
                                  v-for="(point, i) in dataProfileData" @click="pointClick(point)">
                           <!-- <l-popup>
                                <div @click="innerClick">
                                    <h3>{{ cityName(point) }} {{ locationName(point) }}</h3>
                                    <h4>{{ countryName(point) }}</h4>
                                    <div v-for="(dataSet, i) in point.data">
                                        <h6 :title="dataSet.name">{{ dataSet.prefix }} {{ dataSet.value }} {{
                                            dataSet.appendix }}</h6>
                                    </div>
                                </div>
                            </l-popup> -->
                        </l-circle-marker>
                    </l-map>

                </v-col>
            </v-row>
            <v-card v-if="infoPoint!=undefined">
                <v-card-title v-if="countrySum==false">{{ cityName(infoPoint) }} {{ locationName(infoPoint) }} ({{ countryName(infoPoint) }})</v-card-title>
                <v-card-title v-if="countrySum">{{ countryName(infoPoint) }} </v-card-title>
                <v-card v-if="useCalendars && barChart == false">
                    <div><LineChart :options="chartConfig" :height="300" style="margin-right: 25px;" v-bind:chartdata="chartData" ></LineChart></div>
                </v-card>
                <v-card v-if="useCalendars == false || barChart">
                    <div><BarChart :options="chartConfig" :height="300" style="width: 95%;" v-bind:chartdata="chartData" ></BarChart></div>
                </v-card>
                <v-card-text v-bind:key="i" v-for="(dataSet, i) in infoPoint.data">

                    <div :title="dataSet.name">
                        <span v-for="(value,ii) in dataSet.values" v-if="useCalendars==false && countrySum==false">
                            a{{ dataSet.prefix }} {{ value.value }} {{ dataSet.appendix }}
                        </span>
                        <span v-for="(value,ii) in dataSet.values" v-if="useCalendars">
                            <p v-if="countrySum" >b{{ dataSet.prefix }} {{ value.value }} {{ dataSet.appendix }} at {{ value.date }}</p>
                            <p v-else >c{{ dataSet.prefix }} {{ value.value }} {{ dataSet.appendix }} at {{ value.date }}</p>
                        </span>

                        <span v-if="useCalendars==false && countrySum">
                            <div v-for="i in infoPoint.country_data">
                                <p v-for="ip in i">
                           d{{ dataSet.prefix }} {{ ip.country_sum }} ({{ ip.country_date }}) {{ dataSet.appendix }} (juuuu)
                        </p>
                                </div>
                        </span>
                        </div>

                </v-card-text>

            </v-card>

        </div>

    </div>
</template>

<script>
    const axios = require('axios');
    import Vue from 'vue'
    import EventBus from '../eventbus';
    import {latLng} from "leaflet";
    import L from 'leaflet';
    import {LMap, LTileLayer, LMarker, LPopup, LTooltip, LCircleMarker} from "vue2-leaflet";
    import Vue2LeafletMarkerCluster from 'vue2-leaflet-markercluster'
    import {locationStore, countryStore, cityStore} from "../stores/geo";
    import {dataProfileStore} from "../stores/stores";
    import LineChart from './charts/LineChart'
    import BarChart from './charts/BarChart'

    const greyIcon = new L.Icon({
        iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-grey.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });
    const redIcon = new L.Icon({
        iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });
    const yellowIcon = new L.Icon({
        iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-yellow.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });


    export default {
        name: "Example",
        components: {
            LMap,
            LTileLayer,
            LMarker,
            LPopup,
            LTooltip,
            LCircleMarker,
            'v-marker-cluster': Vue2LeafletMarkerCluster,
            LineChart,
            BarChart
        },
        watch: {
            pickedDate: function (val) {
                if(this.initialized) {
                    if(this.infoPointRef != undefined) {
                        this.infoPointRef.click()
                        console.log('ref', this.infoPointRef)
                    }
                    this.doDataProcessing(val)

                    //this.infoPoint = undefined
                    //this.infoPointRef = undefined
                    /*if(this.infoPoint != undefined){
                        console.log("cklickiiii", document.getElementById('p'+this.latLong(this.infoPoint)))
                        let that = this
                        setTimeout(function(){
                            document.getElementById('p'+that.latLong(that.infoPoint)).click()
                            }, 3000);
                    }*/
                }
            },
            barChart: function (val) {
                if(this.initialized) {
                    // little hack to trigger the needed events
                    let tmpInfoPoint = this.infoPoint
                    this.infoPoint = undefined
                    this.infoPoint = tmpInfoPoint
                }
            },
            useCalendars: function (val) {
                if(this.initialized) {
                    this.doDataProcessing(val)
                }
            },
            dataProfileName: function (val) {
                if(this.initialized) {
                    this.doDataProcessing(val)
                }
            },
            countrySum: function (val) {
                if(this.initialized) {
                    this.doDataProcessing(val)
                }
            },
            dataSetEnabled: {
                handler: function (val, oldVal) { if(this.initialized) { this.doDataProcessing(val) } },
                deep: true
            },
        },
        computed: {
            loadedLocations: function () {
                return locationStore.state.locations
            },
            chartConfig: function () {
                if(this.useCalendars==false){
                    return {
                        maintainAspectRatio:false,
                    }
                }
                return {
                    maintainAspectRatio:false,
                    scales: {
                        xAxes: [{
                            type: 'time',
                            distribution: 'series'
                        }]
                    }
                }
            },
            chartData: function () {
                let data = []
                let labels = []
                if(this.infoPoint != undefined){
                    for(let i in this.infoPoint.data){
                        let datasetchartdata = []
                        for(let ii in this.infoPoint.data[i].values){
                            if(Number(this.infoPoint.data[i].values[ii].value) !== NaN) {
                                if(this.useCalendars){
                                    datasetchartdata.push({t: Date.parse(ii), y: Number(this.infoPoint.data[i].values[ii].value)})
                                } else {
                                    labels = [ii]
                                    datasetchartdata.push(Number(this.infoPoint.data[i].values[ii].value))
                                }
                            }
                        }

                        data.push({
                            label: i,
                            data: datasetchartdata
                        })
                    }
                }
                if(this.useCalendars==false){
                    return {
                        labels: labels,
                        datasets: data
                    }
                }
                return {
                      datasets: data
                }
            }
        },
        mounted() {
            var that = this
            EventBus.$on('DATA_PROFILES_RECEIVED', function (payLoad) {

                that.dataSetNames = dataProfileStore.state.dataSetNames
                that.dataProfileNames = []
                that.dataSetEnabled = {}
                for(let i in dataProfileStore.state.dataProfileNames){
                    Vue.set(that.dataProfileNames, i, {"value":i, "text":dataProfileStore.state.dataProfileNames[i]})
                }
                that.dataSetBtnColor = []
                for (let name in that.dataProfileNames) {
                    //let name = that.dataProfileNames[ni]
                    for (let setname in that.dataSetNames[name]) {
                        Vue.set(that.dataSetBtnColor,name+that.dataSetNames[name][setname],'primary')
                        Vue.set(that.dataSetBtnState,name+that.dataSetNames[name][setname],'Refresh')
                        Vue.set(that.dataSetEnabled,name+that.dataSetNames[name][setname],true)
                        //that.dataSetBtnColor[name + that.dataSetNames[name][setname]] = 'primary'
                        //that.dataSetBtnState[name + that.dataSetNames[name][setname]] = 'Refresh'
                    }
                }
                if (that.dataProfileNames.length > 0) {
                    console.log("set", that.dataProfileNames[that.dataProfileName].text)
                    that.dataSetName = that.dataSetNames[that.dataProfileName].text
                }
                /*for(let i in that.dataSetNames[that.dataProfileName]){
                    that.dataSetEnabled[that.dataProfileName+that.dataSetNames[that.dataProfileName][i]] = false
                }*/

                if (that.pickedDate == undefined) {
                    let today = new Date();
                    that.pickedDate = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
                }
                that.doDataProcessing(payLoad)
            });
        },
        data() {
            return {
                dataSetNames: [],
                dataSetName: 0,
                dataProfileNames: [],
                dataSetBtnColor: [],
                dataSetBtnState: [],
                dataProfileName: '0',
                barChart: false,
                dataSetEnabled: [],
                infoPoint: undefined,
                infoPointRef: undefined,
                unblocked: true,
                zoom: 3,
                dayNr: 0,
                useCalendars: false,
                countrySum: false,
                pickedDate: undefined,
                allowedDates: [],
                fullData: [],
                dataProfileData: [],
                center: latLng(47.41322, -1.219482),
                url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                attribution:
                    '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                withPopup: latLng(47.41322, -1.219482),
                currentZoom: 5,
                initialized: false,
                currentCenter: latLng(47.41322, -1.219482),
                showParagraph: false,
                mapOptions: {
                    zoomSnap: 0.5
                },
                showMap: true
            };
        },
        methods: {
            zoomUpdate(zoom) {
                this.currentZoom = zoom;
            },
            centerUpdate(center) {
                this.currentCenter = center;
            },
            showLongText() {
                this.showParagraph = !this.showParagraph;
            },
            innerClick() {
                alert("Click!");
            },
            stupido(returno) {
                return returno
            },
            pointClick(point) {
                if(this.infoPoint == point){
                    this.infoPoint = undefined
                    this.infoPointRef = undefined
                } else {
                    this.infoPoint = point
                    console.log('point', point)
                    this.infoPointRef = this.ref
                    //this.infoPointRef = ref
                }
            },
            latLong(point) {
                if (point.location_id == null && point.city_id == null) {
                    return latLng(0, 0);
                }
                var dataLocation;
                if (point.city_id != null) {
                    dataLocation = cityStore.getters.getCityById(point.city_id)

                } else {
                    dataLocation = locationStore.getters.getLocationById(point.location_id);
                }
                if (dataLocation == undefined) {
                    return latLng(0, 0);
                }
                this.unblock = false;
                return latLng(Number(dataLocation.lat), Number(dataLocation.long));
            },
            locationName(point) {
                let dataLocation = locationStore.getters.getLocationById(point.location_id);
                if (point.location_id == null || dataLocation == null) {
                    return '';
                }
                return dataLocation.name;
            },
            cityName(point) {
                let dataLocation = cityStore.getters.getCityById(point.city_id);
                if (point.city_id == null || dataLocation == null) {
                    return '';
                }
                let name = dataLocation.name
                if (name != dataLocation.admin_name && dataLocation.admin_name != null && dataLocation.admin_name != '') {
                    name = name + ' (' + dataLocation.admin_name + ')'
                }
                return name;
            },
            countryName(point) {
                let dataLocation = countryStore.getters.getCountryById(point.country_id);
                if (point.country_id == null || dataLocation == null) {
                    return '';
                }
                return dataLocation.name;
            },
            doDataProcessing(val) {
                if (val == undefined) {
                    return
                }
                this.allowedDates = []
                this.initialized = false
                console.log('method-call')
                val = Number(val)
                let i = 0;
                let finalData = new Object();
                let theI = 0
                if (this.dataProfileName != '') {
                    theI = this.dataProfileName
                }
                let tmpInfoPoint = undefined
                let foundInfoPoint = false
                for (let key in dataProfileStore.state.dataProfiles.data[theI].data.data_sets) {
                    /*if (this.allowedDates.includes(key) == false) {
                        this.allowedDates.push(key)
                    }*/

                    if ((this.pickedDate == key || key == '0000-00-00')||(this.useCalendars)) {
                        let d = dataProfileStore.state.dataProfiles.data[theI].data.data_sets[key]
                        for (let cordI in d) {
                            let count = 0
                            let locationKey = cordI
                            let countryId = d[cordI].country_id
                            if(this.countrySum){
                                locationKey = countryId
                            }

                            for (let it in d[cordI].data) {
                                let dd = d[cordI].data[it]
                                if(this.dataSetEnabled[theI+dd.name]) {
                                    let newIndex = dd.name
                                    if (finalData[locationKey] == undefined) {
                                        finalData[locationKey] = new Object();
                                        finalData[locationKey]['data'] = new Object();
                                    }
                                    if (finalData[countryId] == undefined) {
                                        finalData[countryId] = new Object();

                                    }
                                    if(finalData[countryId]['country_data'] == undefined){
                                        finalData[countryId]['country_data'] = new Object();
                                    }

                                    if(finalData[countryId]['country_data'][key] == undefined){
                                        finalData[countryId]['country_data'][key] = new Object();
                                    }
                                    if(finalData[countryId]['country_data'][key][newIndex] == undefined){
                                        finalData[countryId]['country_data'][key][newIndex] = new Object();
                                    }
                                    if(finalData[countryId]['country_data'][key][newIndex] == undefined){
                                        finalData[countryId]['country_data'][key][newIndex] = new Object();
                                    }
                                    if(finalData[countryId]['country_data'][key][newIndex]['country_sum'] == undefined){
                                        finalData[countryId]['country_data'][key][newIndex]['country_sum'] = 0;
                                        finalData[countryId]['country_data'][key][newIndex]['country_date'] = key;
                                    }

                                    if (finalData[locationKey]['data'][newIndex] == undefined) {
                                        finalData[locationKey]['data'][newIndex] = new Object()
                                        finalData[locationKey]['data'][newIndex]['values'] = new Object()
                                        finalData[locationKey]['data'][newIndex]['sum_value'] = 0;
                                    }
                                    if (finalData[locationKey]['data'][newIndex]['values'][key] == undefined) {
                                        finalData[locationKey]['data'][newIndex]['values'][key] = new Object()
                                    }

                                    finalData[countryId]['country_data'][key][newIndex]['country_sum'] += Number(dd.value)
                                    finalData[locationKey]['data'][newIndex]['name'] = dd.name
                                    finalData[locationKey]['data'][newIndex]['prefix'] = dd.prefix
                                    finalData[locationKey]['data'][newIndex]['values'][key]['value'] = dd.value
                                    finalData[locationKey]['data'][newIndex]['values'][key]['date'] = key
                                    finalData[locationKey]['data'][newIndex]['sum_value'] += Number(dd.value)
                                    finalData[locationKey]['data'][newIndex]['appendix'] = dd.appendix

                                    count++
                                }
                            }
                            if(count > 0){
                                finalData[locationKey]['country_id'] = d[cordI].country_id
                                finalData[locationKey]['city_id'] = d[cordI].city_id
                                finalData[locationKey]['location_id'] = d[cordI].location_id
                                if(this.infoPoint != undefined && this.infoPoint.country_id == d[cordI].country_id && this.infoPoint.city_id == d[cordI].city_id && this.infoPoint.location_id == d[cordI].location_id){
                                    this.infoPoint = finalData[locationKey]
                                    tmpInfoPoint = this.infoPoint.country_id
                                    foundInfoPoint = true
                                    console.log('found point', this.infoPoint)
                                }
                            }


                        }
                    }
                    i++

                    //}
                }
                if(foundInfoPoint==false){
                    console.log("undefine point")
                    this.infoPoint = undefined
                }
                for(let i in finalData){
                    let ordered = {}
                    if(finalData[i]['country_data'] != undefined) {
                        Object.keys(finalData[i]['country_data']).sort(function(a,b){
                            let ad = new Date(a);
                            let bd = new Date(b);
                            // console.log(ad,bd)
                            return ad>bd ? -1 : ad<bd ? 1 : 0;
                        }).forEach(function (key2) {

                            ordered[key2] = finalData[i]['country_data'][key2];
                        });
                    }
                    //
                    finalData[i]['country_data'] = ordered

                    for(let ii in finalData[i].data){
                        let ordered = {}
                        Object.keys(finalData[i].data[ii].values).sort(function(a,b){
                            let ad = new Date(a);
                            let bd = new Date(b);
                            // console.log(ad,bd)
                            return ad>bd ? -1 : ad<bd ? 1 : 0;
                        }).forEach(function (key2) {

                            ordered[key2] = finalData[i].data[ii].values[key2];
                        });
                        finalData[i].data[ii].values = ordered
                    }

                    if(tmpInfoPoint==i){
                        //this.infoPoint['country_data'] = ordered
                        Vue.set(this.infoPoint, 'country_data', ordered)
                    }
                }
                this.initialized = true
                // this.$refs.myMap.mapObject.ANY_LEAFLET_MAP_METHOD();
                this.dataProfileData = finalData
            },
            getAllowedDates(val) {
                if (this.allowedDates.length == 0) {
                    return true
                }
                return this.allowedDates.includes(val)
            },
            getBtnColor(dataProfileName, name) {
                if (this.dataSetBtnColor[dataProfileName.toString() + name] == undefined) {
                    this.dataSetBtnColor[dataProfileName.toString() + name] = 'error'
                    // console.log('dsaaffffff',dataProfileName,name,this.dataSetBtnColor[dataProfileName+name])
                }

                return this.dataSetBtnColor[dataProfileName.toString() + name]
            },
            getColor(value) {
                if (value < 1000) {
                    return 'grey'
                }
                if (value < 10000) {
                    return 'yellow'
                }
                return 'red'
            },
            getColorForPoint(point) {
                if(point==this.infoPoint){
                    return '#00ff44'
                }
                /*let item;
                for(let pd in point.data){
                    item = point.data[pd]
                    break
                }
                let value = item.value
                if (value < 1000) {
                    return 'grey'
                }
                if (value < 10000) {
                    return 'yellow'
                }*/
                return 'red'
            },
            updateSource(dataProfileName, dataSet) {
                Vue.set(this.dataSetBtnColor,dataProfileName.toString() + dataSet,'error')
                Vue.set(this.dataSetBtnState,dataProfileName.toString() + dataSet,'...downloading...')
                //console.log("sfaddfdfsaadfs",dataProfileName,dataSet,this.dataSetBtnColor,this.dataSetBtnState)
                let that = this
                this.$nextTick(function () {
                    //console.log(this.$el.textContent) // => 'updated'
                    axios.get("/parse?data_set=" + dataSet, {})
                        .then(function (response) {

                            Vue.set(that.dataSetBtnState,dataProfileName.toString() + dataSet,'Download finished')
                            locationStore.getters.receiveLocations();
                            countryStore.getters.receiveCountries();
                            cityStore.getters.receiveCities();
                            dataProfileStore.getters.receiveDataProfiles();
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                })

            },
            getIcon(point) {
                if (point.data == undefined) {
                    console.log('catch undefined', point)
                    return redIcon
                }
                let item;
                for(let pd in point.data){
                    item = point.data[pd]
                    break
                }
                var theIcon = greyIcon
                if (item.value < 100) {
                    theIcon = yellowIcon;
                } else if (item.value < 1000) {
                    theIcon = greyIcon
                } else {
                    theIcon = redIcon
                }

                return theIcon
            }
        }
    };
</script>
