<template>
    <div>
        <v-toolbar color="primary" dark fixed style="z-index:99999">
            <v-btn :icon="true" @click="active=true" ><v-icon>menu</v-icon></v-btn>
            <router-link to="/">
                <v-toolbar-title style="color: grey" to="/">Chihuti</v-toolbar-title>
            </router-link>
            <v-spacer></v-spacer>
            <v-flex align-right lg3 md3 sm4 xs5>
                <v-text-field
                    :placeholder="'Search'+'...'"
                    @focus="searching()"
                    @keyup="searching()"
                    append-icon="search"
                    hide-details
                    id="theLiveSearch"
                    single-line v-model="search"
                ></v-text-field>
            </v-flex>
        </v-toolbar>


        <v-navigation-drawer
            dark
            fixed
            style="z-index:99999; height: 100%;overflow-x:auto; max-width:90%;"
            temporary
            v-model="active"
        >
            <v-list-item>
                <v-list-item-action>
                    <v-btn :icon="true" @click="active=false" color="orange" style="cursor:pointer;">
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-list-item-action>
            </v-list-item>
            <!--
            <v-list class="pa-1">
                <v-list-tile :style="'background-image:url('+currentuser.background+');'" avatar tag="div"
                             v-if="currentuser.id!=0">
                    <v-badge color="orange" left overlap>
                        <router-link class="small" slot="badge" to="/notifications">{{ n }}</router-link>
                        <router-link :to="'/profile/'+currentuser.id">
                            <v-list-tile-avatar>
                                <img :src="currentuser.avatar">
                            </v-list-tile-avatar>
                        </router-link>
                    </v-badge>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ currentuser.name }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
            -->
            <v-list class="pt-0" dense>
                <v-list-item to="/">
                    <v-list-item-action>
                        <v-icon>home</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>{{ 'Home' }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
<!--
                <v-list-tile to="/login" v-if="currentuser.id==0">
                    <v-list-tile-action>
                        <v-icon>exit_to_app</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ 'Login' }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile to="/register" v-if="currentuser.id==0">
                    <v-list-tile-action>
                        <v-icon>person_add</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ 'Register' }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-group
                    no-action
                    prepend-icon="settings"
                    v-if="currentuser.admin"
                >
                    <v-list-tile slot="activator">

                        <v-list-tile-title>Admin</v-list-tile-title>

                    </v-list-tile>
                    <v-list-tile to="/admin/users">
                        <v-list-tile-action>
                            <v-icon>supervised_user_circle</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Users</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>

                    <v-list-tile to="/admin/roles">
                        <v-list-tile-action>
                            <v-icon>reorder</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Roles</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>

                    <v-list-tile to="/admin/projects">
                        <v-list-tile-action>
                            <v-icon>whatshot</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Projects</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list-group>

-->
<!--
                <v-list-tile @click="emitLogout()" v-if="currentuser.id!=0">
                    <v-list-tile-action>
                        <v-icon>power_settings_new</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ 'Logout' }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                -->
                <v-list-item v-if="currentuser.id==0" href="/login">
                    <v-list-item-action>
                        <v-icon>exit_to_app</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>{{ ('Oauthlogin') }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                <v-list-item v-if="currentuser.id!=0" @click="emitLogout()" >
                    <v-list-item-action>
                        <v-icon>power_settings_new</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>{{ ('Logout') }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item to="/about">
                    <v-list-item-action>
                        <v-icon>help</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>{{ 'About' }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

            </v-list>
        </v-navigation-drawer>
        <form class="d-none" id="logoutForm">
            <input name="ajaxLogin" type="hidden" value="1"/>
            <input value="csrf" name="_token" type="hidden">
        </form>
        <v-snackbar
            :bottom="true"
            :color="alertcolor"
            :multi-line="true"
            :timeout="9000"
            v-model="alarmEnabledInternal"
        >
            {{ alerttext }}
            <v-btn

                @click="closeAlarm()"
                flat
            >
                {{ 'Close' }}
            </v-btn>
        </v-snackbar>
    </div>
</template>

<script>
    import {userStore} from '../stores/system.js';
    const axios = require("axios");
    export default {
        mounted() {
            if (localStorage.getItem("language") != '' && localStorage.getItem("language") != undefined) {
                this.lang = localStorage.getItem("language");
            }
            if (this.$route.params.term != undefined && this.$route.params.term != '') {
                this.search = this.$route.params.term;
            }

        },
        methods: {
            closeAlarm() {
               // eventBus.$emit('closeAlarm', "");
            },
            searching() {
            },
            emitLogout: function () {
                var formData = new FormData(document.getElementById('logoutForm'));
                axios({
                    method: 'post',
                    url: '/logout',
                    data: formData,
                    headers: {'Content-Type': 'multipart/form-data' }
                }).then(function (response) {
                       // eventBus.$emit('logout', "");
                        localStorage.setItem('jwt_token', '')
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            },
        },
        props: ['alertshown', 'alerttext', 'alertcolor', 'mixconfig'],
        computed: {
            csrf: function () {
                //return userStore.getters.getCSRF()
            },
            notifications: function () {
                //return userStore.state.notifications
            },
            currentuser() {
                //return undefined
                return userStore.getters.getUserById(userStore.state.loginId)
            },
            users: function () {
                return userStore.state.users
            }
        },
        watch: {
            alarmEnabledInternal: function (val) {
                if (val == false) {
                  //  eventBus.$emit('closeAlarm', "");
                }
            },
            alertshown: function (val) {
                console.log("react to alertshown", val)
                this.alarmEnabledInternal = val
            },
            lang: function (val) {
                localStorage.setItem("language", val);
               // eventBus.$emit('languageChange', val);
            },
            notifications: function (val) {
                var tmpArray = []
                this.notifications.forEach(function (val, key) {
                    if (val.read_at == null || val.read_at == 0 || val.read_at == undefined) {
                        tmpArray.push(val)
                    }
                });
                this.n = tmpArray.length;
            }
        },
        data: () => ({
            active: false,
            activeItem: 0,
            lang: 'en',
            n: 0,
            urlBeforeSearch: '/',
            search: '',
            mini: false,
            alarmEnabledInternal: false,
            speedDeal: false,
            treeTypes: [{id: 'audio', label: 'Audio'}, {id: 'video', label: 'Video'}]


        })
    }
</script>

<style lang="stylus">
.vue-treeselect__multi-value
  display inline-flex
  overflow hidden
vs-navbar >>> .vue-treeselect__menu
  width 100px
  padding-left 15px
  padding-bottom 15px
  z-index 999999
.header-sidebar
  display flex
  align-items center
  justify-content center
  flex-direction column
  width 100%
  h4
    display flex
    align-items center
    justify-content center
    width 100%
    > button
      margin-left 10px
.footer-sidebar
  display flex
  align-items center
  justify-content space-between
  width 100%
  > button
      border 0px solid rgba(0,0,0,0) !important
      border-left 1px solid rgba(0,0,0,.07) !important
      border-radius 0px !important
</style>
